@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Port+Lligat+Slab&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

body {
  margin: 0;
  font-family: "Port Lligat Slab", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-container {
  min-height: 100vh;
}

main {
  flex: 1;
  font-size: 15px;
}

a {
  list-style-type: none;
  text-decoration: none;
  color: unset;
}

ul,
li {
  list-style-type: none;
}

.btn-primary,
.btn-outline-primary {
  background-color: #f0c040;
  color: #000000;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.rating span {
  color: #ffc000;
}

.product {
  border: 1px #404040 solid;
  margin: 1rem;
}
.product img {
  width: 100%;
  max-width: 400px;
}
.product-info {
  padding: 1rem;
}
.img-large {
  max-width: 100%;
}
.img-thumbnail {
  height: 80px;
}
.small-container {
  max-width: 600px;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}

.navbar-dark {
  background-color: #d1411e !important;
}

/* Home page */

.boxtext {
  width: 100%;
  justify-content: center;
  text-align: center;
}

.title {
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.subtitle {
  font-size: 1.6rem;
  font-family: "Leckerli One", cursive;
  color: #d1411e;
}

.smalltext {
  margin: 0 400px;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  font-size: 1.1rem;
  font-family: "Port Lligat Slab", serif;
}

/* sidebar */
.navbar-brand {
  font-weight: bold;
}
.side-navbar {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color: #100901;
  transition: 0.5s;
}

.site-container {
  transition: 0.4s;
}
.active-cont {
  margin-left: 240px;
}
.active-nav {
  left: 0;
}
.text-bold {
  font-weight: bold;
}

/* logo */

.logo-image {
  width: 100px;
}

/* Map */

.full-box {
  height: 100vh;
  max-width: initial;
}
.full-box header,
.full-box footer {
  display: none;
}
.full-box .container {
  height: 100vh;
  max-width: initial;
  margin: 0;
  padding: 0;
}

.full-box .mt-3 {
  margin-top: 0 !important;
}

.map-input-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0.5rem auto;
  width: 25rem;
  height: 3rem;
  display: flex;
}
.map-input-box input {
  border-radius: 1rem 0 0 1rem;
  border-right: 0;
}
.map-input-box button {
  border-radius: 0 1rem 1rem 0;
  border-left: 0;
}
button.thumbnail {
  padding: 0;
}

/* fix bootstrap */
.nav-link {
  color: #fff !important;
  font-size: 1.8rem;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: 500;
}

/* footer */

.footer {
  margin-top: 140px;
  background-color: #222;
  height: calc(100vh - 150px);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.footer__item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.footer__item img {
  width: 450px;
  height: calc(100vh - 150px);
}

.footer__item__card {
  flex: 1;
  padding: 0 20px;
  color: #d3d3d3;
}

.footer__item__card__motton {
  margin-top: 2rem;
  text-transform: uppercase;
  font-family: "Leckerli One", cursive;
  color: #d3d3d3;
  font-size: 2.3rem;
}

.footer__item__card__title {
  margin: 1.5rem 0;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Yanone Kaffeesatz", sans-serif;
  color: #b7903c;
}

.footer__item__card__text {
  margin-bottom: 20px;
  line-height: 2rem;
  font-size: 1.2rem;
}

.footer__item__card__icons {
  display: flex;
}

.footer__item__card__icons__icon {
  display: inherit;
  padding-right: 25px;
  font-size: 1.6rem;
}

.footer__item__card__icons__icon:hover {
  color: #d1411e;
}

/* search box */

.body-card {
  height: calc(100vh - 200px);
}

#button-search {
  border: none;
  border: 1px solid #fff;
}

#button-search:hover {
  background-color: #d1411e;
}

.nav-search {
  width: 300px;
}

/* products card */

.product-title {
  height: 3rem;
  font-family: "Leckerli One", cursive;
  color: #d1411e;
  font-size: 1.5rem;
  text-transform: capitalize;
}

.product-box {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0.5rem;
  margin-bottom: 0;
}

.product-price {
  font-family: "M PUSH Rounded 1c", sans-serif;
  font-size: 1.2rem;
  font-weight: bolder;
}

/* product hover image */
/* zoom in image */

.card-img-top {
  height: 200px;
  width: 100%;
  overflow: hidden;
}
.zoomin img {
  height: 200px;
  width: 100%;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.zoomin img:hover {
    transform: scale(1.2);
}

.btn-add {
  border: none;
  width: 8rem;
  font-size: 1.2rem;
  font-weight: bolder;
}

.btn-add:hover {
  background-color: #d1411e;
}

/* product button hover */

.btn-product {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.btn-product span:hover {
  color: #fff;
}

.a-product{
  width: 200px;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #333;
  border: 2px solid #d1411e;
  border-radius: 10px;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .5s;
}

.a-product span{
  position: relative;
  z-index: 2;
  /* font-family: "Yanone Kaffeesatz", sans-serif; */
  /* font-size: 1.2rem; */
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  font-weight: bolder;
  text-transform: uppercase;
}

.a-product span:hover {
  color: #fff;
}

.a-product:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #d1411e;
  border-radius: 5px;
  color: #fff;
  transition: all .5s;
}

.a-product:hover{
  color: #fff;
}

.a-product:hover:after{
  width: 100%;
  color: #fff;
}

/* category */

.category-img {
  width: 40px;
  margin-right: 0.5rem;
}

.category-card {
  background-color: #404040;
}

.category-title {
  margin-top: 5px;
  font-size: 2rem;
  color: #d1411e;
  display: flex;
  align-items: center;
}

/* banner */

.banner {
  top: -1rem;
  /* left: 0rem; */
  /* width: 100vw; */
}

.homepage {
  padding: 0;
  margin: 0;
}

/* signin - signup */

.signin-card {
  width: 80%;
  min-height: 500px;
  max-height: auto;
  /* background-color: #404040; */
  /* border: 1px solid #a0a0a0; */
  background-image: linear-gradient(-225deg, #ddd 50%, #fff 50%);
  padding: 2rem;
  border-radius: 10px;
  margin-top: 5rem;
  box-shadow: rgba(45, 46, 46, 0.2) 0px 8px 24px;
}

.signin-title {
  width: 100%;
  text-align: center;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.signin-input {
  outline: none;
  border: none;
  box-shadow: rgba(45, 46, 46, 0.2) 0px 8px 24px;
}

.signin-subtitle {
  font-size: 1.2rem;
}

.btn-signin {
  width: 100%;
  border: none;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(to right, #d11e54, #d19a1e, #d1411e);
  box-shadow: rgba(45, 46, 46, 0.2) 0px 8px 24px;
}

.btn-signin:hover {
  background: linear-gradient(to left, #d11e54, #d19a1e, #d1411e);
  cursor: pointer;
}

.signin-smalltext {
  font-size: 1rem;
  color: #565656;
}

.signin-link:hover {
  color: #d1411e;
}

/* cart */

.btn-cart {
  width: 100%;
  border: none;
}

.btn-cart:hover {
  background-color: #d1411e;
}

.icon-cart {
  font-size: 2.5rem;
}

.cart-link:hover {
  color: #d1411e;
}


/* product details */

.product-title-detail {
  font-size: 1.8rem;
}

.product-subtitle {
  font-size: 1.2rem;
  font-weight: bold;
}

.product-desc {
  font-size: 1rem;
  font-weight: normal;
  font-style: italic;
}

.product-image {
  width: 100%;
  /* border: 2px solid #ccc; */
  border-radius: 10px;
  box-shadow: rgba(45, 46, 46, 0.2) 0px 8px 24px;
}